page-second-ht-bets {
    
}
.cote {
    float: left;
    text-align: left;
    padding: 0 50px;
    text-transform: lowercase;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(66, 74, 75, 0.474);
}