page-bilan-bet {
    .item-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
      }
      .item-detail {
        width: 100%;
        background: white;
        position: absolute;
      }
      .titles1 {
        padding-right: 20%;
      }
      .titles2 {
        color: #003883;
        font-family: 'Barlow', sans-serif;
        font-weight: 300;
        letter-spacing: 0px;
        position: absolute;
        z-index: 1;
        top: 0px;
        bottom: 40px;
        font-size: 22px;
        padding-left: 24px;
        padding-top: 7px; // padding-bottom: 40px;
      }
      div {
        font-family: 'Barlow', sans-serif;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 1.1rem;
      }

      [col-3] {
        padding: 0px;
        max-height: 33px;
      }
      .arrow img {
            padding-top: 20px;
            max-height: 80px;
          }

}

.toastCantPlayTwice {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  color: #d20073;
}
