<ion-header>
  <ion-navbar>

    <ion-title>
      <p *ngIf="playinOnline==true;else offlineMode" class="titles1">Online Mode</p>
      <ng-template #offlineMode>
        <p class="titles1">Offline Mode</p>
      </ng-template>
    </ion-title>
  </ion-navbar>

  <ion-row>
    <ion-col col-1>
    </ion-col>
    <ion-col col-3>
      <img [src]="fixture.urlhomeTeam" onError="this.src='assets/img/badgeUnfound.ico';" style="width:30px; height:30"
        alt="" />
    </ion-col>
    <ion-col col-4>
      {{ fixture.date |HM : fixture.status : fixture.result}}
    </ion-col>
    <ion-col col-3>
      <img [src]="fixture.urlawayTeam" onError="this.src='assets/img/badgeUnfound.ico';" style="width:30px; height:30"
        alt="" />
    </ion-col>
    <ion-row>
      <ion-col col-1>
      </ion-col>
      <ion-col col-3>
        <div> {{fixture.homeTeamName}}</div>
      </ion-col>
      <ion-col col-4>
        <div> {{fixture.date}}</div>
      </ion-col>
      <ion-col col-3>
        <div> {{fixture.awayTeamName}}</div>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-row>

</ion-header>





<ion-content padding>
  <div class="footerLine" *ngFor="let sheet of playedElementsIn3Sheets.getAllSheets()">
    <ion-list class="footerLine" *ngFor="let element of sheet.elementsList;  let i = index" class="item no-padding" style="background-color: #ffffff;">
      <div col-12 *ngFor="let cote of element.cotesList" text-wrap style="background-color: #ffffff;">
        <div *ngIf='cote.played ==  true'>
          <ion-item>
            <ion-icon color="boursouramaBlue2" name="ios-swap" item-left></ion-icon>
            <div>
              <p style="font-size: 16px; color: #23bbea; width: 140px;">{{element.title}}</p>
            </div>
            <p style="font-size: 16px; color: black; width: 140px;">{{cote.title}}</p>
            <ion-badge color="boursouramaPink2" item-end>{{solde}}x{{cote.coef}}={{solde * cote.coef}}</ion-badge>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </div>

  <ion-list>
    <ion-item-sliding #item>
      <ion-item-options side="left">
        <button ion-button>Favorite</button>
        <button ion-button color="danger">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button>Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-item>
    <ion-icon color="boursouramaBlue2" name="ios-cash" item-start></ion-icon>
    <p style="font-size: 18px; color: #000000;">Wins</p>
    <ion-badge color="boursouramaPink" item-end>{{wins}}</ion-badge>
  </ion-item>



  <ion-row>
    <ion-col col-9>
      <ion-range min="0" max="{{player.silverCoins}}" (ionChange)="getwiningBet()" [(ngModel)]="solde" color="boursouramaPink" pin="true">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>
          <ion-badge *ngIf="solde < player.silverCoins" color="boursouramaBlue2" item-end>{{solde}}</ion-badge>
          <ion-badge *ngIf="solde==player.silverCoins" color="boursouramaPink" item-end>{{solde}}</ion-badge>
        </ion-label>
      </ion-range>
    </ion-col>
    <ion-col col-3 color="boursouramaPink2">
      <div *ngIf="solde==0">
        <ion-avatar class="arrow" style="transition: none;top: 25px;" item-end>
          <img src="../../assets/img/arrowNext.png">
        </ion-avatar>
      </div>
      <div *ngIf="solde>0">
        <ion-avatar class="arrow" style="transition: none;top: 25px;" (click)="playBetWithStranger()" item-end>
          <img src="../../assets/img/arrowNextfilled.png">
        </ion-avatar>
      </div>

      <!-- <button style="transition: none;top: 25px;" (click)="getCurrentUserAndGo()" ion-button [disabled]="solde==0" full color="boursouramaPink2">Bet </button> -->
    </ion-col>
  </ion-row>


</ion-content>
