page-groupes {
  .page {
    background-color: #F8F8F8;
  }
  .card-content-md {
    padding: 0px;
  }
  #item0,
  #item2 {
    // background-color: #EEEEEE;
    background-color: #EEEEEE;
    min-height: 60px;
  }
  #item3,
  #item1 {
    min-height: 60px;
  }
  .scroll-content {
    padding: 5px;
    background-color: #313840;
  }
  .arrow {
    width: 21px;
    height: 21px;
  }
  .no-padding {
    padding: 0px 0px 0px 0px !important;
    padding-right: 0px;
  }
}
