<ion-header>
  <ion-navbar>

    <ion-title>

      <ion-row>
        <ion-col>
          <ion-fab top left edge>
            <button (click)="openSideMenu()" ion-fab class="button-bg">
              <ion-avatar>
                <img src="assets/img/pull.png">
              </ion-avatar>
            </button>
          </ion-fab>
        </ion-col>


        <ion-col>
          <img src="assets/img/worldCup.png" style="width: 60px; height: 70px;" alt="" />
        </ion-col>


        <ion-col>
          <ion-fab (click)="updateListFixtureAndCompets()" top right edge>
            <button ion-fab class="button-bg">
              <ion-avatar>
                <img src="assets/img/refresh.png">
              </ion-avatar>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>



      <!-- <img [src]="assets/img/worldCup.png" style="width:20px; height:20" alt="" /> -->
    </ion-title>
  </ion-navbar>

  <ion-item>



    <!-- <button item-start (click)="openCalendar()"> -->

    <ion-avatar item-center>
      <ion-row>
        <ion-col (click)="dayBefore()">
          <img src="assets/img/arrow1r.png">
        </ion-col>
        <ion-col (click)="openCalendar()">
          <ion-row>

            <img src="assets/img/calendar.png">
            <p item-start (click)="openCalendar()" class="titles1">{{dateEntete}}</p>

          </ion-row>
        </ion-col>
        <ion-col (click)="dayNext()">
          <img src="assets/img/arrow1l.png">
        </ion-col>
      </ion-row>
    </ion-avatar>

    <!-- </button>  -->



  </ion-item>
  <!-- <ion-avatar item-start>
    <img src="img/avatar-cher.png">
  </ion-avatar> -->

</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="item no-padding" *ngFor="let compet of allCompetUpdated" style="background-color: #f1f7f7;">
      <ion-row>
        <img [src]="compet.picLink" [lazyLoad]="compet.picLink" [offset]="200" class="stretch" onError="this.src='assets/img/offline.png';"
          alt="" />
      </ion-row>
      <ion-row align-items-center>
        <p class="titleMatch"> Matchs </p>
      </ion-row>
      <ion-row *ngFor="let fixture of FixtureByCompet[compet.league]" (click)="openCompet(fixture)" text-wrap style="background-color: #ffffff;">
        <ion-col col-4>
          <div>{{fixture.homeTeamName}}</div>
        </ion-col>
        <ion-col col-1>
          <img [src]="fixture.urlhomeTeam" onError="this.src='assets/img/badgeUnfound.ico';" style="width:20px; height:20" alt="" /> </ion-col>
        <ion-col center col-2>
          {{ fixture.date |HM : fixture.status : fixture.result}}
        </ion-col>
        <ion-col col-1>
          <img [src]="fixture.urlawayTeam" onError="this.src='assets/img/badgeUnfound.ico';" style="width:20px; height:20" alt="" />
        </ion-col>
        <ion-col col-4>
          <div> {{fixture.awayTeamName}}</div>
        </ion-col>


      </ion-row>
    </ion-item>
  </ion-list>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

</ion-content>
