<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

  </ion-navbar>

  <button ion-button color="primary" (click)="openCalendar()">  <ion-icon name="calendar"></ion-icon></button> {{selectedDate}}
</ion-header>

<ion-content>



  <ion-list>
    <ion-item *ngFor="let compet of allCompetUpdated">


      <ion-card class="slide-in-both-ways">
        <div class="item item-divider">
          {{compet.caption}} - {{compet.league}}
          </div>
        <ion-list>
          <ion-item *ngFor="let fixture of FixtureByCompet[compet.league]">

            <button ion-item (click)="openCompet(fixture)">


              <h2> <img [src]="fixture.urlhomeTeam" height="42" width="42" />{{fixture.homeTeamName}} - {{fixture.awayTeamName}} </h2>

            </button>

            <!-- <ion-content>
              <ion-fab bottom right #fab>
                <button ion-fab> <ion-icon name="arrow-dropleft"></ion-icon></button>
                <ion-fab-list side="left">

                  <button ion-fab (click)="share('facebook', fab)"><ion-icon name="clipboard"></ion-icon></button>
                  <button ion-fab (click)="share('twitter', fab)"><ion-icon name="trending-up"></ion-icon></button>
                </ion-fab-list>
              </ion-fab>
            </ion-content> -->
          </ion-item>
        </ion-list>

      </ion-card>
    </ion-item>
  </ion-list>



</ion-content>
